{{ template "head" }}
{{ if .isLoggedIn }}
    <body>
        <h1>QSL CARDS FILE UPLOAD for {{ .username }}.</h1>
        <form id="signout-form" action="/user/logout" method="POST">
            <input type="submit" value="ログアウト">
        </form>
        <label>QSLCARDS ファイル アップロード画面</label><br />

        <input style="width: 20%; padding: 10px;"  type="button" id="btn-fsearch" value="QSLファイル検索" /><br />
        <input style="width: 20%; padding: 10px;"  type="button" id="btn-fsrc-rst" value="クリア" /><br />

        <div id="mini-ftail">
        </div>
        <label>QSLCARDSファイル追加画面</label><br />
        <form id="upload_form">
           <input style="width: 20%; padding: 10px;" type="file" name="qslupload" accept="image/*,.pdf" ><br />

           <input  style="width: 20%; padding: 10px;" type="button" onclick="file_upload()" value="Upload a file">
        </form>
        <div id="mini-ftail2">
        </div>
        <div id="sql-result">
        </div>
        <label> {{ .sql_result }} </label>

        <label>メイン画面</label><br />
        <a href="//{{ .domainport }}/">メイン画面</a><br />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/assets/admin-qso-assets.js"></script>

    </body>

{{ else }}
    <body>
        <h1>Welcome to admin_qso.</h1>
        <ul>
            <li><a href="//{{ .domainport }}/login">login</a>
            <li><a href="//{{ .domainport }}/signup">signup</a>
        </ul>
    </body>
{{ end }}
{{ template "foot" }}
